.block {
    display: block;
    background-color: lightblue;
    
}

.inline {
    display: inline;
    background-color: lightgreen;
    
}

.inline-block {
    display: inline-block;
    background-color: lightcoral;
}
    
